<style type="text/css">
	#container{
		display: none;
	}
	#calendarTitle {
		color: #fffff;
	}
</style>
<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23039BE5&amp;ctz=Asia%2FYangon&amp;src=emF5YXJtb2VrYXVuZzBAZ21haWwuY29t&amp;src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;src=ZW4ubW0jaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;src=Y2xhc3Nyb29tMTE0MzkxMTI5NDQ5NDI2Njc1ODI2QGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&amp;color=%23039BE5&amp;color=%2333B679&amp;color=%230B8043&amp;color=%230B8043&amp;showCalendars=0&amp;title=%20Test" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>