<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
  
    <head>
         <style type="text/css">
       .bg {
  /* The image used */
  background-image: url("tnt.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
   </style>
        {{ partial "head.html" . }}
    </head>

    <body class="{{ if ne $.Site.Params.defaultTheme "light" -}} dark-theme {{- end -}}">
        <div class="container bg" >
        

            <div class="content">
                {{ block "main" . }}{{ end }}
            </div>

            {{ block "footer" . }}
                {{ partial "footer.html" . }}
            {{ end }}
        </div>

    </body>
</html>
